<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="ds">
      <section name="base" type="DS.AFP.Common.Core.ConfigurationNameSpace.DsAddinConfigurationSection,DS.AFP.Common.Core"/>
      <section name="portal" type="DS.AFP.Common.Core.ConfigurationNameSpace.PortalSection,DS.AFP.Common.Core"/>
    </sectionGroup>
  </configSections>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop" xmlns:db="http://www.springframework.net/database">
    </objects>
  </spring>
  <ds>
    <base>
      <params>
        <!--<param key="DefaultUri" value="http://192.168.7.205:8090/ds-portal-web/index"></param>-->
        <!--<param key="DefaultUri" value="http://localhost:4200/"></param>-->
        <param key="DefaultUri" value="http://localhost/index.html"></param>
        <!--<param key="DefaultUri" value="http://192.168.7.205:8090/ds-portal-web/index"></param>-->
        <!--<param key="DefaultUri" value="http://192.168.0.12/c6"></param>-->
        <!--<param key="DefaultUri" value="http://192.168.7.12:8180/ds-coc-web/incident/caselist"></param>-->
      </params>
    </base>
  </ds>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
