<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,DS.Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,DS.log4net"/>
    <sectionGroup name="ds">
      <section name="base" type="DS.AFP.Common.Core.ConfigurationNameSpace.DsConfigurationSection,DS.AFP.Common.Core"/>
      <section name="windowsService" type="DS.AFP.Common.Core.ConfigurationNameSpace.WindowsServiceConfigurationSection,DS.AFP.Common.Core"/>
    </sectionGroup>
  </configSections>

  <ds>
    <base name="dsConfig" trace="false" >
      <communications>
        <communication key="dsShareData" address="192.168.5.214:2014" description="同步数据的服务器地址"></communication>
        <communication key="dsUpdateService" address="192.168.5.214:2014" description="同步数据的服务器地址"></communication>
        <communication key="dsLogTrace" address="192.168.0.111:2014" description="日志跟踪终端的地址"></communication>
      </communications>
     
      <modules>
        <!--<module assemblyFile="./Addin/SocketTestSvc/SocketTestSvc.dll" moduleType="SocketTestSvc.SocketTestSvcModule,SocketTestSvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SocketTestSvcModule" startupLoaded="true" index="0"/>-->
        <!--<module assemblyFile="./Addin/DS.AFP.CloudTerminalService/DS.AFP.CloudTerminalService.dll" moduleType="DS.AFP.CloudTerminalService.CloudTerminalServiceModule,DS.AFP.CloudTerminalService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DS.AFP.CloudTerminalService" startupLoaded="true" index="10"/>-->
        <!--<module assemblyFile="./Addin/DS.AFP.UIFramework/DS.AFP.UIFramework.dll" moduleType="DS.AFP.UIFramework.UIFrameworkModule,DS.AFP.UIFramework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UIFramework" startupLoaded="true" index="0" />-->

        <!--<module assemblyFile="./Addin/DS.AFP.DS21/DS.AFP.DS21.dll" moduleType="DS.AFP.DS21.DS21Moudle,DS.AFP.DS21, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                        moduleName="DS.AFP.DS21" startupLoaded="true" index="1"/>-->



        <module assemblyFile="./Addin/WpfAddinApp/WpfAddinApp.dll" moduleType="WpfAddinApp.WpfAddinAppModule,WpfAddinApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WpfAddinApp" startupLoaded="true" index="10"/>


      </modules>
    </base>
    <windowsService>
      <service serviceName="WpfAddinApp" displayName="WpfAddinApp"/>
    </windowsService>
  </ds>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, DS.Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/config/afp_log4net.xml"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
      <parser type="DS.AFP.Communication.WCF.Config.WcfNamespaceParser, DS.AFP.Communication"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <!--<resource uri="assembly://DS.AFP.WindowService.App/DS.AFP.WindowService.App.Config/NhibernateConfig.xml"/>-->
    </context>
    <objects />
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\DS.AFP.Libs;.\Libs;"/>
    </assemblyBinding>
  </runtime>

</configuration>
