<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="ds">
      <section name="base" type="DS.AFP.Common.Core.ConfigurationNameSpace.DsConfigurationSection,DS.AFP.Common.Core"/>
      <!--<section name="socket" type="DS.AFP.Communication.SocketNameSpace.Configuration.SocketServiceConfig, DS.AFP.Communication.Socket.Engine"/>-->
    </sectionGroup>
  </configSections>
  <ds>
    <base name="dsConfig" trace="false" >
      <communications>
        <communication key="dsShareData" address="http://192.168.0.111" description="同步数据的服务器地址"></communication>
        <communication key="dsLogTrace" address="http://192.168.0.111:2014" description="日志跟踪终端的地址"></communication>
      </communications>
      <connections>
        <connection id="ivrdb" connectionstring="Data Source=DSDB190;User Id=sz110xc;Password=sz110xc;" provider="OracleODP-2.0"/>
        <connection id="carownerdb" connectionstring="Data Source=DSDB190;User Id=sz110xc;Password=sz110xc;" provider="OracleODP-2.0"/>
        <connection id="movecardb" connectionstring="Data Source=DSDB190;User Id=sz110xc;Password=sz110xc;" provider="OracleODP-2.0"/>
      </connections>
      <modules>
        <module assemblyFile="./Addin/WpfAddinApp/WpfAddinApp.dll" moduleType="WpfAddinApp.WpfAddinAppModule,WpfAddinApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WpfAddinApp" startupLoaded="true" index="0"/>
        <module assemblyFile="./Addin/DS.AFP.DS21/DS.AFP.DS21.dll" moduleType="DS.AFP.DS21.DS21Moudle,DS.AFP.DS21, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="DS.AFP.DS21" startupLoaded="true" index="1"/>
        <module assemblyFile="./Addin/DS.AFP.MoveCar/DS.AFP.MoveCar.dll" moduleType="MoveCar.MoveCarModule,DS.AFP.MoveCar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="DS.AFP.MoveCar" startupLoaded="true" index="2"/>

      </modules>
    </base>
  </ds>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Configure/Logging/log4net.xml"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring xmlns="http://www.springframework.net">
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
      <parser type="DS.AFP.Communication.WCF.Config.WcfNamespaceParser, DS.AFP.Communication"/>
    </parsers>
    <context>
      <resource uri="config://spring/objects"/>
      <!--<resource uri="assembly://DS.AFP.WPF.App/DS.AFP.WPF.App.Configure.Nhibernate/NhibernateConfig.xml"/>-->
    </context>
    <objects />
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
